@page "/base64converter"

<h1>Base 64 Converter</h1>

<div class="form-group">
    <textarea class="form-control col-md-6" name="" id="" placeholder="Non Base64"></textarea>
    <small class="form-text text-muted">This is the value you want to encode as base64</small>
</div>

<button class="btn btn-primary" type="button">
   <i class="fas fa-arrow-down"/> Encode
</button>

<button class="btn btn-success" type="button">
   <i class="fas fa-arrow-up"/> Decode
</button>

<div class="form-group">
    <textarea class="form-control col-md-6" name="" id="" placeholder="Base64"></textarea>
    <small class="form-text text-muted">This is the value you want to encode from base64</small>
</div>